05. DemoHandlingExceptions/DemoHandlingExceptions.Client/Service References/PacienteServiceReference/DemoHandlingExceptions.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Idade" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="tns:Sexo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:simpleType name="Sexo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Feminino" />
      <xs:enumeration value="Masculino" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Sexo" nillable="true" type="tns:Sexo" />
  <xs:complexType name="ArrayOfPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paciente" nillable="true" type="tns:Paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaciente" nillable="true" type="tns:ArrayOfPaciente" />
</xs:schema>