05. DemoHandlingExceptions/DemoHandlingExceptions.Client/Service References/PacienteServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" />
  <xs:element name="Adicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" minOccurs="0" name="paciente" nillable="true" type="q1:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" minOccurs="0" name="AdicionarResult" nillable="true" type="q2:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" minOccurs="0" name="paciente" nillable="true" type="q3:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" minOccurs="0" name="EditarResult" nillable="true" type="q4:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" minOccurs="0" name="ObterPorIDResult" nillable="true" type="q5:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DemoHandlingExceptions.Service" minOccurs="0" name="ObterTodosResult" nillable="true" type="q6:ArrayOfPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>