02. DemoWCFSingleton/DemoWCFSingleton.WebUI/Service References/AlunoService/DemoWCFSingleton.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoWCFSingleton.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoWCFSingleton.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlunoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlunoModel" nillable="true" type="tns:AlunoModel" />
  <xs:complexType name="ArrayOfAlunoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlunoModel" nillable="true" type="tns:AlunoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlunoModel" nillable="true" type="tns:ArrayOfAlunoModel" />
</xs:schema>