02. DemoWCFSingleton/DemoWCFSingleton.WebUI/Service References/AlunoService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DemoWCFSingleton.Service" />
  <xs:element name="AdicionarAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWCFSingleton.Service" minOccurs="0" name="aluno" nillable="true" type="q1:AlunoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarAlunoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterAlunos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterAlunosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWCFSingleton.Service" minOccurs="0" name="ObterAlunosResult" nillable="true" type="q2:ArrayOfAlunoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>