04. DemosClient/DemosClient.ClienteAddServRef/Service References/AniversarianteServiceReference/DemosClient.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemosClient.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemosClient.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Aniversariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aniversariante" nillable="true" type="tns:Aniversariante" />
  <xs:complexType name="ArrayOfAniversariante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aniversariante" nillable="true" type="tns:Aniversariante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAniversariante" nillable="true" type="tns:ArrayOfAniversariante" />
</xs:schema>