04. DemosClient/DemosClient.ClienteAddServRef/Service References/AniversarianteServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AniversarianteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DemosClient.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAniversarianteService_AddAniversariante_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAniversariante" />
  </wsdl:message>
  <wsdl:message name="IAniversarianteService_AddAniversariante_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAniversarianteResponse" />
  </wsdl:message>
  <wsdl:message name="IAniversarianteService_GetAniversariantes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAniversariantes" />
  </wsdl:message>
  <wsdl:message name="IAniversarianteService_GetAniversariantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAniversariantesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAniversarianteService">
    <wsdl:operation name="AddAniversariante">
      <wsdl:input wsaw:Action="http://tempuri.org/IAniversarianteService/AddAniversariante" message="tns:IAniversarianteService_AddAniversariante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAniversarianteService/AddAniversarianteResponse" message="tns:IAniversarianteService_AddAniversariante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAniversariantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAniversarianteService/GetAniversariantes" message="tns:IAniversarianteService_GetAniversariantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAniversarianteService/GetAniversariantesResponse" message="tns:IAniversarianteService_GetAniversariantes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAniversarianteService" type="tns:IAniversarianteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAniversariante">
      <soap:operation soapAction="http://tempuri.org/IAniversarianteService/AddAniversariante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAniversariantes">
      <soap:operation soapAction="http://tempuri.org/IAniversarianteService/GetAniversariantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AniversarianteService">
    <wsdl:port name="BasicHttpBinding_IAniversarianteService" binding="tns:BasicHttpBinding_IAniversarianteService">
      <soap:address location="http://localhost:8080/AniversariantesService/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>