04. DemosClient/DemosClient.ClienteAddServRef/Service References/AniversarianteServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DemosClient.Service" />
  <xs:element name="AddAniversariante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemosClient.Service" minOccurs="0" name="aniversariante" nillable="true" type="q1:Aniversariante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAniversarianteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAniversariantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAniversariantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemosClient.Service" minOccurs="0" name="GetAniversariantesResult" nillable="true" type="q2:ArrayOfAniversariante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>